@model IEnumerable<Model.EF.Product>
@{
     var category = (Model.EF.ProductCategory)ViewBag.Category;
    ViewBag.Title = "Search Result";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}
@section assetsLink{
    <title>GamingShop</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="GamingShop project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/client/styles/bootstrap4/bootstrap.min.css">
    <link href="/assets/client/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/assets/client/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/assets/client/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/assets/client/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="/assets/client/styles/categories.css">
    <link rel="stylesheet" type="text/css" href="/assets/client/styles/categories_responsive.css">
    <link rel="stylesheet" type="text/css" href="/assets/client/styles/product.css">
    <link rel="stylesheet" type="text/css" href="/assets/client/styles/product_responsive.css">
    <link href="/assets/client/styles/jquery-ui.css" rel="stylesheet" />
}
@section js{
    <script src="/assets/client/js/jquery-3.2.1.min.js"></script>

    <script src="/assets/client/js/jquery-1.12.4.js"></script>
    <script src="/assets/client/js/jquery-ui.js"></script>

    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="/assets/client/styles/bootstrap4/popper.js"></script>
    <script src="/assets/client/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="/assets/client/plugins/greensock/TweenMax.min.js"></script>
    <script src="/assets/client/plugins/greensock/TimelineMax.min.js"></script>
    <script src="/assets/client/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="/assets/client/plugins/greensock/animation.gsap.min.js"></script>
    <script src="/assets/client/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="/assets/client/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="/assets/client/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="/assets/client/plugins/easing/easing.js"></script>
    <script src="/assets/client/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="/assets/client/js/categories.js"></script>
    <script src="/assets/client/js/product.js"></script>
    <script src="/assets/client/js/controller/baseController.js"></script>
    <script src="/assets/client/js/controller/productDetailController.js"></script>
}
<!-- Home -->

<div class="home">
    <div class="home_container">
        <div class="home_background" style="background-image:url(/assets/client/images/categories.jpg)"></div>
        <div class="home_content_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content">
                            <div class="home_title"><span>Seach</span></div>
                            <div class="home_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie eros. Sed viverra velit venenatis fermentum luctus.</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Products -->

<div class="products">
    <div class="container">
        <div class="row">
            <div class="col">

                <!-- Product Sorting -->
                <div class="sorting_bar d-flex flex-md-row flex-column align-items-md-center justify-content-md-start">
                    <div class="results">Showing <span>12</span> results</div>
                    <div class="results">Showing <span>@ViewBag.Keyword</span> results</div>
                    <div class="sorting_container ml-md-auto">
                        <div class="sorting">
                            <ul class="item_sorting">
                                <li>
                                    <span class="sorting_text">Sort by</span>
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    <ul>
                                        <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Default</span></li>
                                        <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Price</span></li>
                                        <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "stars" }'><span>Name</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="product_grid">
                    @foreach (var item in Model)
                    {
                        var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                        <div class="product">
                            <div class="product_image"><img src="@item.Image" alt=""></div>
                            <div class="product_extra product_new"><a href="categories.html">New</a></div>
                            <div class="product_content">
                                <div class="product_title"><a href="@url">@item.Name</a></div>
                                <div class="product_price">@(item.Price.HasValue ? item.Price.Value.ToString("N0") : "Liên hệ")</div>
                            </div>
                        </div>
                    }
                </div>
                <div class="product_pagination">
                    @if (ViewBag.TotalPage > 1)
                    {
                        var pageDisplay = (int)ViewBag.MaxPage;
                        int totalPage = (int)ViewBag.TotalPage;
                        int currentPage = ((int)ViewBag.Page);

                        // Create numeric links
                        var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                        var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

                        var link = "/search?keyword=" + ViewBag.Keyword;
                        <nav>
                            <div class="product_pagination">
                                <ul>
                                    @if (currentPage > ViewBag.First)
                                    {
                                        <li><a href="@link&page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                                        <li>
                                            <a href="@link&page=@ViewBag.Prev" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a>
                                        </li>

                                    }
                                    @for (int i = startPageIndex; i <= endPageIndex; i++)
                                    {
                                        if (currentPage == i)
                                        {

                                            <li> <a href="@link&page=@i" class="active" title="Trang @i">@i</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="@link&page=@i" title="Trang @i" class="pos">@i</a></li>
                                        }
                                    }
                                    @if (currentPage < totalPage)
                                    {
                                        <li><a href="@link&page=@ViewBag.Next" class="next" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
                                        <li> <a href="@link&page=@ViewBag.Last" class="last" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>
                                    }
                                </ul>
                            </div>
                        </nav>
                    }
                    else
                    {
                        <div class="product_pagination">1</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>